/*
um Colorcodes mittels Colorwheel zu finden: https://www.canva.com/colors/color-wheel/
Font der im Hauptmenue genutzt wird ist: "Lucida Calligraphy Italic"
*/


/*
 Vorlage fuer das Layout der Hauptmenue-Buttons von https://stackoverflow.com/questions/25043990/styling-button-in-javafx-using-css
 @author Dennis
 @since 30.11.2023
*/
.hauptmenubutton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
}

.hauptmenubutton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #bb835f 0%, #8b5a3b 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #bb835f, #8b5a3b);
}
.hauptmenubutton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.schwierigkeitsauswahl {
 -fx-padding: 16 30 30 30;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-max-width: 300px;
}
/* -------------------------------------------------------------------Men端leiste oben und rechts */
.leiste {
    -fx-font-size: 18;

}
.blockInLeiste {
     -fx-padding: 4 25 4 25;
     -fx-spacing: 6;
     -fx-alignment: center;
     -fx-background-color: rgba(255, 228, 196,0.7);
     -fx-border-color: #FEAA38 ;
 -fx-border-radius: 0 0 10 10;
 -fx-background-radius: 0 0 10 10;
}

.buttonMenueLeisteRechts {
    -fx-background-color: rgba(255, 204, 0, 0.5);
       -fx-background-radius: 10;
       -fx-border-color: rgba(0, 0, 0, 0.2);
       -fx-border-width: 2;
       -fx-border-radius: 10;
       -fx-padding: 10 15;
       -fx-font: 12px "Lucida Calligraphy Italic";
       -fx-alignment: center;
       -fx-min-width: 150;
}
.buttonMenueLeisteRechts:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.6), 10, 0, 0, 0);
}

.buttonMenueLeisteRechts:pressed {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0, 0, 0);
}

.blockInLeiste {
     -fx-padding: 4 25 4 25;
     -fx-spacing: 6;
     -fx-alignment: center;
     -fx-background-color: rgba(255, 228, 196,0.7);
     -fx-border-color: #FEAA38 ;
     -fx-border-style: hidden solid solid solid;
 -fx-border-radius: 0 0 10 10;
 -fx-background-radius: 0 0 10 10;
}
.leisteTooltip {
     -fx-background-color: rgba(255, 228, 196);
     -fx-border-color: #FEAA38 ;
     -fx-text-fill: black;
     -fx-show-delay: 0ms;
     -fx-hide-delay: 0ms;
 -fx-border-radius: 10 10 10 10;
 -fx-background-radius: 10 10 10 10;
}

/* TrainerZeug */
.trainerAttributeTitel{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
}
.trainerAttributeContainer{
    -fx-padding: 8 15 15 15;
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-max-width: 600px;
    -fx-alignment: center;
}
.trainerAttributeButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 100px;
}
.trainerAttributeLabel{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
}

/* -------------------------------------------------------------------Men端leiste oben und rechts */
/* -------------------------------------------------------------------Einstellung f端r den GameHubButtons */
.gameHubButton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0;
    -fx-padding: 0;
}
.gameHubButton .image-view {
    -fx-opacity: 0.35;

}
.gameHubButton:pressed {
    -fx-background-color: rgba(0, 0, 255, 0.5);
    -fx-background-radius: 10;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 255, 0.4), 100, 0, 0, 0);
    -fx-transition: background-color 3s;
}

.gameHubButtonPIHSC {
    -fx-background-color: rgba(255, 255, 0, 0.5);
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-font: 14px "Lucida Calligraphy Italic";
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-min-height: 45;
}

.gameHubButtonKampf{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonKampf:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}
.gameHubButtonKampf:pressed {
    -fx-effect: innershadow(gaussian, rgba(204, 0, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonKampf-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonPartyStatus{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonPartyStatus:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(56, 94, 15, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}
.gameHubButtonPartyStatus:pressed {
    -fx-effect: innershadow(gaussian, rgba(56, 94, 15, 0.8), 100, 0, 0, 0);

}
.gameHubButtonPartyStatus-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(56, 94, 15, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonPartyInventar {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonPartyInventar:hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 20, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.gameHubButtonPartyInventar:pressed {
        -fx-effect: innershadow(gaussian, rgba(255, 255, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonPartyInventar-hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 20, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.gameHubButtonTaverne{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonTaverne:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(153, 101, 21, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonTaverne:pressed {
    -fx-effect: innershadow(gaussian, rgba(153, 101, 21, 0.8), 100, 0, 0, 0);

}
.gameHubButtonTaverne-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(153, 101, 21, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonSchmiede{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonSchmiede:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(173, 216, 230, 0.8), 20, 0, 0, 0);

      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonSchmiede:pressed {
    -fx-effect: innershadow(gaussian, rgba(173, 216, 230, 0.8), 100, 0, 0, 0);


}
.gameHubButtonSchmiede-hover {
      -fx-background-color: transparent;
       -fx-effect: dropshadow(gaussian, rgba(173, 216, 230, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonHaendler{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonHaendler:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonHaendler:pressed {
    -fx-effect: innershadow(gaussian, rgba(255, 215, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonHaendler-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonTrainer{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonTrainer:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 160, 122, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonTrainer:pressed {
    -fx-effect: innershadow(gaussian, rgba(255, 160, 122, 0.8), 100, 0, 0, 0);

}
.gameHubButtonTrainer-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 160, 122, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

/* -------------------------------------------------------------------Einstellung f端r den GameHubButtons */
