/*
um Colorcodes mittels Colorwheel zu finden: https://www.canva.com/colors/color-wheel/
Font der im Hauptmenue genutzt wird ist: "Lucida Calligraphy Italic"
*/


/*
 Vorlage fuer das Layout der Hauptmenue-Buttons von https://stackoverflow.com/questions/25043990/styling-button-in-javafx-using-css
 @author Dennis
 @since 30.11.2023
*/
.hauptmenubutton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
}

.hauptmenubutton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #bb835f 0%, #8b5a3b 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #bb835f, #8b5a3b);
}
.hauptmenubutton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}

/* Einstellung für den GameHubButtons */
.gamehubbutton {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0;

    /* Schatten effekt test */
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10, 0 , 0 , 1 );
}
.gamehubbutton .text {
    -fx-fill: white; /* Set text color to white */
    -fx-background-color: transparent;
}

.gamehubbutton:hover {
    -fx-background-color: rgba(0, 0, 0, 0.5); /* Anpassen vom letzten wert für transparenz (0.5) */
}

.gamehubbutton:pressed {
    -fx-background-color: limegreen;
    -fx-effect: innershadow(gaussian, rgba(0, 255, 0, 0.7), 10, 0, 0, 0);
}


.schwierigkeitsauswahl {
 -fx-padding: 16 30 30 30;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-max-width: 300px;
}

.gameHubButtonKampf{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonKampf:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.6), 10, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}
.gameHubButtonKampf-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.6), 10, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}


.gameHubButtonPartyInventar {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}


.teamCharakterHover:hover{
	-fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 1.0), 255, 0, 0, 0),
                      innershadow(gaussian, rgba(0, 255, 0, 1.0), 255, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.teamCharakterAusgewaehlt{
	-fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 1.0), 255, 0, 0, 0),
                      innershadow(gaussian, rgba(0, 255, 0, 1.0), 255, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}



.gegnerCharakterHover:hover{
	-fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 1.0), 255, 0, 0, 0),
                      innershadow(gaussian, rgba(255, 0, 0, 1.0), 255, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.gegnerCharakterAusgewaehlt{
	-fx-effect: dropshadow(gaussian, rgba(255, 0, 0, 1.0), 255, 0, 0, 0),
                      innershadow(gaussian, rgba(255, 0, 0, 1.0), 255, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}



.gameHubButtonPartyInventar:hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.6), 200, 0, 0, 0),
                      innershadow(gaussian, rgba(255, 255, 0, 0.6), 200, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.gameHubButtonPartyInventar-hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.6), 200, 0, 0, 0),
                      innershadow(gaussian, rgba(255, 255, 0, 0.6), 200, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.leiste {
    -fx-font-size: 18;

}
.blockInLeiste {
     -fx-padding: 4 25 4 25;
     -fx-spacing: 6;
     -fx-alignment: center;
     -fx-background-color: rgba(255, 228, 196,0.7);
     -fx-border-color: #FEAA38 ;
 -fx-border-radius: 0 0 10 10;
 -fx-background-radius: 0 0 10 10;
}

.buttonAvatarPictures {
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-border-width: 2;
}

.buttonMenueLeisteRechts {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-font: 15px "Lucida Calligraphy Italic";
    -fx-alignment: center;
    -fx-min-width: 250;
}

.button-text {
    -fx-fill: black;
    -fx-font-weight: bold;
    -fx-translate-y: -5;
}

.buttonMenueLeisteRechts:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.6), 10, 0, 0, 0);
}

.buttonMenueLeisteRechts:pressed {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 10, 0, 0, 0);
}

.blockInLeiste {
     -fx-padding: 4 25 4 25;
     -fx-spacing: 6;
     -fx-alignment: center;
     -fx-background-color: rgba(255, 228, 196,0.7);
     -fx-border-color: #FEAA38 ;
     -fx-border-style: hidden solid solid solid;
 -fx-border-radius: 0 0 10 10;
 -fx-background-radius: 0 0 10 10;
}
.leisteTooltip {
     -fx-background-color: rgba(255, 228, 196);
     -fx-border-color: #FEAA38 ;
     -fx-text-fill: black;
     -fx-show-delay: 0ms;
     -fx-hide-delay: 0ms;
 -fx-border-radius: 10 10 10 10;
 -fx-background-radius: 10 10 10 10;
}
// TrainerZeug
.trainerAttributeTitel{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
}
.trainerAttributeContainer{
    -fx-padding: 8 15 15 15;
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-max-width: 800px;
    -fx-alignment: center;
}
.trainerAttributeButton{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 15px "Lucida Calligraphy Italic";
    -fx-pref-width: 100px;
}
.trainerAttributeLabel{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 400px;
    -fx-max-width: 400px;
    -fx-alignment: center;
}
.trainerAttributeLabelWerte{
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 300px;
    -fx-alignment: center;
}

<<<<<<< Upstream, based on origin/dev
/* -------------------------------------------------------------------Menüleiste oben und rechts */
/* -------------------------------------------------------------------Einstellung für den GameHubButtons */
.gameHubButton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-border-width: 0;
    -fx-padding: 0;
}
.gameHubButton .image-view {
    -fx-opacity: 0.35;

}
.gameHubButton:pressed {
    -fx-background-color: rgba(0, 0, 255, 0.5);
    -fx-background-radius: 10;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 255, 0.4), 100, 0, 0, 0);
    -fx-transition: background-color 3s;
}

.gameHubButtonPIHSC {
    -fx-background-color: rgba(255, 255, 0, 0.5);
    -fx-background-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 0;
    -fx-text-fill: black;
    -fx-font: 14px "Lucida Calligraphy Italic";
    -fx-alignment: center;
    -fx-min-width: 60;
    -fx-min-height: 45;
}

.gameHubButtonKampf{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonKampf:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}
.gameHubButtonKampf:pressed {
    -fx-effect: innershadow(gaussian, rgba(204, 0, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonKampf-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(204, 0, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonPartyStatus{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonPartyStatus:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(56, 94, 15, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}
.gameHubButtonPartyStatus:pressed {
    -fx-effect: innershadow(gaussian, rgba(56, 94, 15, 0.8), 100, 0, 0, 0);

}
.gameHubButtonPartyStatus-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(56, 94, 15, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonPartyInventar {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonPartyInventar:hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 20, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.gameHubButtonPartyInventar:pressed {
        -fx-effect: innershadow(gaussian, rgba(255, 255, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonPartyInventar-hover {
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 0, 0.8), 20, 0, 0, 0);
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.gameHubButtonTaverne{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonTaverne:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(153, 101, 21, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonTaverne:pressed {
    -fx-effect: innershadow(gaussian, rgba(153, 101, 21, 0.8), 100, 0, 0, 0);

}
.gameHubButtonTaverne-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(153, 101, 21, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonSchmiede{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonSchmiede:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(173, 216, 230, 0.8), 20, 0, 0, 0);

      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonSchmiede:pressed {
    -fx-effect: innershadow(gaussian, rgba(173, 216, 230, 0.8), 100, 0, 0, 0);


}
.gameHubButtonSchmiede-hover {
      -fx-background-color: transparent;
       -fx-effect: dropshadow(gaussian, rgba(173, 216, 230, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonHaendler{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonHaendler:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonHaendler:pressed {
    -fx-effect: innershadow(gaussian, rgba(255, 215, 0, 0.8), 100, 0, 0, 0);

}
.gameHubButtonHaendler-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 215, 0, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

.gameHubButtonTrainer{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.gameHubButtonTrainer:hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 160, 122, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;
}
.gameHubButtonTrainer:pressed {
    -fx-effect: innershadow(gaussian, rgba(255, 160, 122, 0.8), 100, 0, 0, 0);

}
.gameHubButtonTrainer-hover {
      -fx-background-color: transparent;
      -fx-effect: dropshadow(gaussian, rgba(255, 160, 122, 0.8), 20, 0, 0, 0);
      -fx-background-radius: 0;
      -fx-background-insets: 0;

}

/* -------------------------------------------------------------------Einstellung für den GameHubButtons */


/*--------------------------------------------------------------------Einstellung für NeuesSpiel */

// Anpassung RadioButtons für neues Spiel
.radio-button-neuesspiel .radio {
    -fx-border-width: 2px;
    -fx-border-color: #c99400;
    -fx-background-color: black;
    -fx-background-image: null;
    -fx-border-radius: 5px;
    -fx-padding: 3px;
}

.radio-button-neuesspiel .dot {
    -fx-background-radius: 5px;
    -fx-padding: 8px;
}
.radio-button-neuesspiel:selected .radio .dot{
    -fx-background-color: #c99400;
    -fx-background-insets: 0;
}
.radio-button-neuesspiel .text{
    -fx-font-weight: bold;
    -fx-font: 32px "Lucida Calligraphy Italic";
    -fx-fill: #c99400;
}

//Anpassung CheckBox für neuesspiel
.check-box-neuesspiel .box {
    -fx-background-color: black;
    -fx-border-color: #c99400;
    -fx-padding: 5px;
    -fx-border-width: 2px;
}
.check-box-neuesspiel:selected .mark {
    -fx-background-color: white;

}
.check-box-neuesspiel:selected .box {
    -fx-background-color: #c99400;

}
.check-box-neuesspiel .text {
    -fx-font-weight: bold;
    -fx-font: 32px "Lucida Calligraphy Italic";
    -fx-fill: #c99400;
}
//Anpassung neuesspiel VBoxStyle
.VBoxStyle-neuesspiel {
    -fx-background-color: rgba(255, 255, 255, .7);
    -fx-border-color: #c99400;
    -fx-border-width: 3px;
}
//Anpassung neuesspiel Text
.text-neuesspiel {
    -fx-font-weight: bold;
    -fx-font: 56px "Lucida Calligraphy Italic";
    -fx-fill: #c99400;
}
.text-neuesspiel-auswahl {
    -fx-font-weight: bold;
    -fx-font: 48px "Lucida Calligraphy Italic";
    -fx-fill: #c99400;
}
//Anpassung TextField
.text-field-neuesspiel {
    -fx-font: 32px "Lucida Calligraphy Italic";
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
                                      #b3744c,
                                      radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
}
.partystatusContainer {
    -fx-max-width: 1536px;
    -fx-min-width: 1536px;
    -fx-padding: 75 0 0 0;
    -fx-spacing: 50;
    -fx-alignment: top-center;
    -fx-background-image: url("/background/partystatusHintergrund.jpg");
    -fx-background-size: 1536 1080;
     -fx-background-position: center center;
}
.partystatusCharakterContainer {
    -fx-max-width: 1100px;
    -fx-min-width: 1100px;
    -fx-max-height: 200px;
    -fx-min-height: 200px;
    -fx-alignment: center-left;
    -fx-background-color: rgba(133, 171, 255, 0.95);
    -fx-padding: 0 20 0 20;
     -fx-border-color: #2669fc ;
     -fx-border-width: 2;
     -fx-border-style: solid solid solid solid;
    -fx-spacing: 50;
}
.partystatusCharakterProgressbar{
    -fx-min-height: 21px;
    -fx-min-width: 150px;
}
.partystatusCharakterBarStack {
}
.partystatusCharakterBarText {
    -fx-translate-y: -1px;
}
.spielerCharNameText {
    -fx-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font: 14px "Lucida Calligraphy Italic";
}
.partystatusCharakterName{
    -fx-font-weight: bold;
    -fx-font: 16px "Lucida Calligraphy Italic";
}
.partystatusCharakterSpalte{
       -fx-spacing: 30;
       -fx-min-width: 60px;
        -fx-alignment: center;
}
.partystatusCharakterZeile{
    -fx-alignment: center;
    -fx-spacing: 5;
}
.tooltip-neuesspiel {
    -fx-font: 16px "Lucida Calligraphy Italic";
}

.aktionwaehlenbutton {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-padding: 15 18 15 18;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lucida Calligraphy Italic";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 16px;
    -fx-pref-height: 60px;
    -fx-pref-width: 250px;
}
.aktionwaehlenbutton .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.aktionwaehlenbutton:pressed {
    -fx-padding: 12 15 12 15;
    -fx-background-insets: 1 0 0 0,1 0 1 0, 1 0 1 0, 1 0 2 0;
}

.aktionwaehlenbutton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #090a0c 0%, #090a0c 100%),
            #191d22,
            radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}


.kampflogbutton {
    -fx-background-color: 
        #55565b,
        linear-gradient(#38424b 20%, #1f2429 0%, #191d22 80%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 10%, radius 100%, rgba(25,31,52,0.6), rgba(255,255,255,0));
    -fx-background-radius: 5,10,10,10;
    -fx-background-insets: 0,4,4,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Lucida Calligraphy Italic";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 14px;
    -fx-pref-height: 20px;
    -fx-pref-width: 150px;
}
.kampflogbutton .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}


.kampflogbutton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #090a0c 0%, #090a0c 100%),
            #191d22,
            radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
}

.aktionwaehlenbutton:pressed {
    -fx-padding: 15 18 15 18;
    -fx-background-insets: 1 0 0 0,0 1 0 0, 0 0 1 0, 0 0 0 1;
}

