// um Colorcodes mittels Colorwheel zu finden: https://www.canva.com/colors/color-wheel/

/*
Vorlage fuer die Hauptmenue-Buttons von https://stackoverflow.com/questions/25043990/styling-button-in-javafx-using-css

*/
.hauptmenubutton {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #b3744c 0%, #c69678 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #b3744c, #c69678);
    -fx-font-weight: bold;
    -fx-font: 20px "Lucida Calligraphy Italic";
    -fx-pref-width: 200px;
}
.hauptmenubutton:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #bb835f 0%, #8b5a3b 100%),
            #b3744c,
            radial-gradient(center 50% 50%, radius 100%, #bb835f, #8b5a3b);
}
.hauptmenubutton:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
